<div class="landing-banner">
    <div class="started-content">
        <!-- <h3 class="strong">We create your <strong>fundraising store</strong></h3> -->
        <h3 class="jumbo">We lift the spirits of those in need and <strong>raise much needed funds</strong></h3>
        <!-- <p class="p-submit">Powered by InkPressions and Fleece & Thank You</p> -->
        <a (click)="onClick('form-location')"><button mat-button class="getstarted-btn">Fill Out A Simple Form</button></a>
    </div>
    <img class="helping" src="./assets/helping.svg" alt="">
</div>
<div class="navigation-arrow">
    
    <a class="clickable" (click)="onClick('formsection')">
        <img class="nav-arrow" src="./assets/down-arrow.svg" alt="">
      </a>
</div>
<div class="form-info" id="formsection">
    <img class="form-svg" src="./assets/form.svg" alt="">
    <div class="form-section">
        <h3 class="share">Share <strong>your story</strong></h3>
        <p class="p-submit">Fill out our form so we can get to know your story. After that, we tailer a full website, t-shirt designs, and social media templates for you. Completely hands free!</p> 
        <div class="checkers">
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">However long or short that you wish, share your story.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">Fill out our quick form of questions.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">Attach any pictures you want on your site.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">We do the rest!</p>
            </div>
        </div>
    </div>
</div>
<div id="form-location" class="form-container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6ocBSIaw_MthOak3vix22WV1UCB0Z_RHxcKgtapglYpAPfQ/viewform?embedded=true" width="70%" height="585" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <!-- <app-add-story id="form-location"></app-add-story> -->
    <div>
        <img class="monitor" src="./assets/sitespellingfix.svg" >
        <app-fileupload></app-fileupload>
    </div>
</div>
<div class="about-content">
    <img class="puzzle" src="./assets/puzzle.svg" alt="">
    <div class="text-section">
        <h3 class="heading">What do we provide for <strong>your campaign?</strong></h3>
        <div class="check-bed first-item">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">t-shirt design for your approval</p>
        </div>
        <div class="check-bed">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">online store to sell your t-shirt</p>
        </div>
        <div class="check-bed">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">site goes live for two weeks</p>
        </div>
        <div class="check-bed">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">email and social media content</p>
        </div>
        <div class="check-bed">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">ship all orders directly to the homes of your customers</p>
        </div>
        <div class="check-bed">
            <img class="checkz" src="./assets/checked.svg" alt="">
            <p class="list-item">send a thank you card and collect support photos</p>
        </div>
    </div>
</div>

<div class="upload-container">
    
</div>
<app-footer></app-footer>