<div class="landing-banner">
    <div class="started-content">
        <h3 class="strong">We create your <strong>fundraising store</strong></h3>
        <p class="p-submit">Powered by InkPressions and Fleece & Thank You</p>
        <a (click)="onClick('form-location')"><button mat-button class="getstarted-btn">Fill Out A Simple Form</button></a>
    </div>
    <img class="helping" src="./assets/helping.svg" alt="">
</div>
<div class="navigation-arrow">
    
    <a class="clickable" (click)="onClick('formsection')">
        <img class="nav-arrow" src="./assets/down-arrow.svg" alt="">
      </a>
</div>
<div class="form-info" id="formsection">
    <img class="form-svg" src="./assets/form.svg" alt="">
    <div class="form-section">
        <h3 class="share">Share <strong>your story</strong></h3>
        <p class="p-submit">Fill out our one page form so we can get to know your story. After that, we tailer a full website, t-shirt designs, and social media templates for you. Completely hands free!</p> 
        <div class="checkers">
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">However long or short that you wish, share your story.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">Fill out our quick form of questions.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">Attach any pictures you want on your site.</p>
            </div>
            <div class="embeded-checkers">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="embeded-p">We do the rest!</p>
            </div>
        </div>
    </div>
</div>
<div class="form-container">
    <app-add-story id="form-location"></app-add-story>
</div>
<div class="upload-container">

</div>
<app-footer></app-footer>