<div class="landing-banner">
    <div class="started-content">
        <h3>We create your <strong>fundraising store</strong></h3>
        <p class="p-submit">Powered by InkPressions and Fleece & Thank You</p>
         <button mat-button class="getstarted-btn">Fill Out A Simple Form</button>
    </div>
    <img class="helping" src="./assets/helping.svg" alt="">
</div>
<div class="navigation-arrow">
    <a href="#formsection">
        <img class="nav-arrow" src="./assets/down-arrow.svg" alt="">
      </a>
</div>
<div class="form-info" id="formsection">
    <img class="form-svg" src="./assets/form.svg" alt="">
</div>

