<app-nav-clean></app-nav-clean>
<div class="container">
    
    <div class="about-content">
        <img class="puzzle" src="./assets/puzzle.svg" alt="">
        <div class="text-section">
            <h3 class="heading">What do we provide for <strong>your campaign?</strong></h3>
            <div class="check-bed first-item">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">t-shirt design for your approval</p>
            </div>
            <div class="check-bed">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">online store to sell your t-shirt</p>
            </div>
            <div class="check-bed">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">site goes live for two weeks</p>
            </div>
            <div class="check-bed">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">email and social media content</p>
            </div>
            <div class="check-bed">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">ship all orders directly to the homes of your customers</p>
            </div>
            <div class="check-bed">
                <img class="check" src="./assets/checked.svg" alt="">
                <p class="list-item">send a thank you card and collect support photos</p>
            </div>
        </div>
    </div>
    <div class="partnership">
        <h3 class="heading">Our <strong>Patnerships</strong></h3>
        <img class="inkpressions" src="./assets/partnershipslogos.png" alt="">
        <img class="hide" src="./assets/inkgrey.png" alt="">
        <img class="hide" src="./assets/fleecegrey.png" alt="">
    </div>
</div>
