.about-content {
    display: flex;
    margin-top: 10%;
    color: #0B0754;
}
.puzzle {
    display: none;
    height: 50%;
    width: 50%;
}
.heading {
    font-size: 2.5rem;
    margin-top: 10%;
    line-height: 100%;
    z-index: 2;
}
.list-item {
    font-size: 1rem;
}
.check {
    width: 20px;
    height: 20px;
    margin-right: 1.5%;
}
.check-bed {
    display: flex;
    margin-top: 1%;
}
.first-item {
    margin-top: 5%;
}

@media only screen and (min-width: 768px) {
    .puzzle {
        display: inline;
        height: 50%;
        width: 50%;
    }
}