<app-nav-clean></app-nav-clean>
<div class="main-container">
    <img class="contactus" src="./assets/contact.svg" alt="">
    <div class="main-text">
        <h3 class="h3">Contact Us</h3>
        <div class="location">
            <p>InkPressions</p>
            <p>3175 Martin Parkway</p>
            <p>Commerce Township, MI 48390</p>
            <p>(248) 461-2555</p>
            <p> info@inkpressions.com</p>
        </div>
    </div>
</div>

<div class="footer-container">
    <app-footer></app-footer>
</div>
