.starter {
    color: #0B0754;
}
.container-full {
    display: flex;
}
form {
    z-index: 2;
}
label {
    color: #0B0754;
}
.monitor {
    display: none;
        position: absolute;
        height: 50%;
        width: 50%;
        right: 0;
        top: 1700px;
}
.text-area {
    display: flex;
    flex-direction: column;
}
.h2 {
    font-size: 3.2rem;
    line-height: 100%;
    z-index: 2;
}
.p-submit {
    font-size: 1.3rem;
    line-height: 150%;
}
.send-btn {
    background-color: #0B0754;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 180px;
    border: none;
    outline: none;
}
.btn-secondary {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0B0754;
}
@media only screen and (min-width: 790px) {
    .monitor {
        display: inline;
            position: absolute;
            height: 50%;
            width: 50%;
            right: 0;
            top: 1700px;
    }
    .form-control {
        width: 110%;
    }
    .starter {
        color: #0B0754;
    }
    .h2 {
        font-size: 3.2rem;
        line-height: 100%;
        z-index: 2;
    }
    .p-submit {
        font-size: 1.3rem;
        line-height: 150%;
    }
    .send-btn {
        background-color: #0B0754;
        color: white;
        border-radius: 50px;
        height: 50px;
        width: 180px;
        border: none;
        outline: none;
    }
    .btn-secondary {
        background-color: transparent;
        outline: none;
        border: none;
        color: #0B0754;
    }
}