.starter {
    color: #0B0754;
}
.text-area {
    display: flex;
    flex-direction: column;
}
.h2 {
    font-size: 3.2rem;
    line-height: 100%;
    z-index: 2;
}
.p-submit {
    font-size: 1.3rem;
    line-height: 150%;
}
.send-btn {
    background-color: #0B0754;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 180px;
    border: none;
    outline: none;
}
.btn-secondary {
    background-color: transparent;
    outline: none;
    border: none;
    color: #0B0754;
}
@media only screen and (min-width: 768px) {
    .starter {
        color: #0B0754;
    }
    .h2 {
        font-size: 3.2rem;
        line-height: 100%;
        z-index: 2;
    }
    .p-submit {
        font-size: 1.3rem;
        line-height: 150%;
    }
    .send-btn {
        background-color: #0B0754;
        color: white;
        border-radius: 50px;
        height: 50px;
        width: 180px;
        border: none;
        outline: none;
    }
    .btn-secondary {
        background-color: transparent;
        outline: none;
        border: none;
        color: #0B0754;
    }
}